* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

#product-overview {
    background-image: url('../Section\ 3\ -\ Working\ with\ boxes/aa_css_box_model/freedom.jpg');
    width: 100%;
    height: 528px;
    padding: 10px;
    padding-top: 40px;
}

#plans {
    text-align: center;
}

.section-title {
    color: #2ddf5c;
}

.plans-div {
    width: 80%;
    margin: auto;
}

.plans__article {
    display: inline-block;
    /* height: 400px; */
    margin: 8px;
    padding: 16px;
    width: 30%;
    background: #CDF8D8;
    text-align: center;
    vertical-align: middle;
}

.plans__article h2 {
    opacity: 0.6;
}

.article-recommended {
    background: #0D9A42;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.article-recommended h1.first {
    background: white;
    color: #3A9263;
    padding: 8px;
    border-radius: 8px;
}

.article-recommended h2 {
    color: black;
}

.plan__features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan__features li {
    padding: 8px 0;
}

#about-us {
    background: #FF335E;
    padding: 32px;
    margin-top: 80px;
    color: white;
}

#about-us h1 {
    text-align: center;
}

.about-us__ul {
    list-style: none;
    padding: 0;
    margin-top: 32px;
    text-align: center;
}

.about-us__ul li {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.about-us__ul li p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.about-us__image{
    background: #FFCDDB;
    border: 1px solid black;
    width: 110px;
    height: 110px;
    /* border-radius: 110px; */
    border-radius: 50%;
    margin: auto;
}

/*
ul {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
}
li {
    text-decoration: none;
    margin-right: 10px;
}
a {
    color: white;
    text-decoration: none;
} */

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }